extends ../partials/head.pug
block title
    title Attribute Color Changer Example
block content
    h2.header Attribute Color Changer Example
    p.flow-text.card-panel You can easily access attributes from an element.
    h2.header Final Result
    style.
        .col > .btn {
            width: 100%;
        }
    script.
        Blueberry.register(
            class Attributes extends Behavior {
                ready() {
                    if (this.attrs.initFg && this.attrs.initBg) {
                        let example = Dom.find('#example');
                        example.style.set('color', this.attrs.initFg);
                        example.style.set('background-color', this.attrs.initBg);
                    }
                }
                click() {
                    let example = Dom.find('#example');
                    switch (this.attrs.action) {
                        case 'fg': example.style.set('color', this.attrs.color); break;
                        case 'bg': example.style.set('background-color', this.attrs.color); break;
                    }
                }
            }
        );
    .row
        .col.s12
            .flow-text.card-panel#example(component='Attributes' init-bg='deeppink' init-fg='white') This is some test text
    .row
        h4.col.s12 Text
        .col.m3.s12
            button.btn.waves-effect(component='Attributes' action='fg' color='white') White
        .col.m3.s12
            button.btn.waves-effect(component='Attributes' action='fg' color='black') Black
        .col.m3.s12
            button.btn.waves-effect(component='Attributes' action='fg' color='blue') Blue
        .col.m3.s12
            button.btn.waves-effect(component='Attributes' action='fg' color='yellow') Yellow
    .row
        h4.col.s12 Background
        .col.m3.s12
            button.btn.waves-effect(component='Attributes' action='bg' color='deeppink') Pink
        .col.m3.s12
            button.btn.waves-effect(component='Attributes' action='bg' color='teal') Teal
        .col.m3.s12
            button.btn.waves-effect(component='Attributes' action='bg' color='darkorange') Orange
        .col.m3.s12
            button.btn.waves-effect(component='Attributes' action='bg' color='darkred') Red
    h2.header The Source Code
    h4 attributes.js
    pre: code.language-js.
        Blueberry.register(
            class Attributes extends Behavior {
                created() {
                    if (this.attrs.initFg && this.attrs.initBg) {
                        let example = Blueberry.find('#example');
                        example.style.set('color', this.attrs.initFg);
                        example.style.set('background-color', this.attrs.initBg);
                    }
                }
                click() {
                    let example = Blueberry.find('#example');
                    switch (this.attrs.action) {
                        case 'init-fg': ; break;
                        case 'init-bg': example.style.set('color', this.attrs.color); break;
                        case 'fg': example.style.set('color', this.attrs.color); break;
                        case 'bg': example.style.set('background-color', this.attrs.color); break;
                    }
                }
            }
        );
    h4 index.html
    pre: code.language-markup
        ='<head>\n'
        ='    <title>Attribute Color Changer Example</title>\n'
        ='    <script src="/dist/blueberry.js"></script>\n'
        ='    <script src="./attributes.js"></script>\n'
        ='</head>\n'
        ='<body>\n'
        ='    <div class="row">\n'
        ='        <div class="col s12">\n'
        ='            <div id="example" component="Attributes" init-bg="deeppink" init-fg="white" class="flow-text card-panel">This is some test text</div>\n'
        ='        </div>\n'
        ='    </div>\n'
        ='    <div class="row">\n'
        ='        <h4 class="col s12">Text</h4>\n'
        ='        <div class="col m3 s12">\n'
        ='            <button component="Attributes" action="fg" color="white" class="btn waves-effect">White</button>\n'
        ='        </div>\n'
        ='        <div class="col m3 s12">\n'
        ='            <button component="Attributes" action="fg" color="black" class="btn waves-effect">Black</button>\n'
        ='        </div>\n'
        ='        <div class="col m3 s12">\n'
        ='            <button component="Attributes" action="fg" color="blue" class="btn waves-effect">Blue</button>\n'
        ='        </div>\n'
        ='        <div class="col m3 s12">\n'
        ='            <button component="Attributes" action="fg" color="yellow" class="btn waves-effect">Yellow</button>\n'
        ='        </div>\n'
        ='        </div>\n'
        ='        <div class="row">\n'
        ='        <h4 class="col s12">Background</h4>\n'
        ='        <div class="col m3 s12">\n'
        ='            <button component="Attributes" action="bg" color="deeppink" class="btn waves-effect">Pink</button>\n'
        ='        </div>\n'
        ='        <div class="col m3 s12">\n'
        ='            <button component="Attributes" action="bg" color="teal" class="btn waves-effect">Teal</button>\n'
        ='        </div>\n'
        ='        <div class="col m3 s12">\n'
        ='            <button component="Attributes" action="bg" color="darkorange" class="btn waves-effect">Orange</button>\n'
        ='        </div>\n'
        ='        <div class="col m3 s12">\n'
        ='            <button component="Attributes" action="bg" color="darkred" class="btn waves-effect">Red</button>\n'
        ='        </div>\n'
        ='    </div>\n'
        ='</body>'