extends ../partials/head.pug
block title
    title Clock Example
block content
    h2.header Clock Example
    p.flow-text The clock example will update a clock on the page every second.
    h2.header Final Result
    script.
        Blueberry.register(
            class Clock extends Component {
                observe() {
                    return { time: 0 };
                }
                update() {
                    this.set({ time: new Date().toLocaleTimeString() });
                }
            }
        );
    h1 Hello, world!
    h2 It is #[span(component='Clock' observe='time')] somewhere
    h2.header The Source Code
    h4 clock.js
    pre: code.language-javascript.
        Blueberry.register(
            class Clock extends Component {
                observe() {
                    return { time: 0 };
                }
                update() {
                    this.set({ time: new Date().toLocaleTimeString() });
                }
            }
        );
    p With clock.js, we use the #[code update()] method. This method runs about 60 times a second, and in this example it will update the clock on the page at a constant rate. By attaching the #[b Clock] component to a span tag we update that tag.
    h4 clock.html
    pre: code.language-markup
        ='<head>\n'
        ='    <title>Clock Example</title>\n'
        ='    <script src="/dist/blueberry.js"></script>\n'
        ='    <script src="./clock.js"></script>\n'
        ='</head>\n'
        ='<body>\n'
        ='    <h1>Hello, world!</h1>\n'
        ='    <h2>It is <span component="Clock" observe="time"></span> somewhere</h2>\n'
        ='</body>'
    p Here you can see where the #[code component] attribute is located, and it has the content of #[code Clock], which matches the clock javascript class.