<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Letter Component</title>
    <script src="../../dist/blueberry.js"></script>
    <script src="../../dist/components/strings/Letter.js"></script>
</head>
<body>
    <p>
        All the items below have had everything except letters removed upon load
    </p>
    <input type="text" component="Letter" value="abc123">
    <p component="Letter">
        This is some text that that has not 1, not 2 but 3 numbers.
    </p>
</body>
</html>