<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="/blueberryjs/blueberry.js"></script>
    <script src="/blueberryjs/components.js"></script>
</head>
<body>
    <div>
        <h1>Originals</h1>
        <img src="dog.jpg" alt="Dog Original">
        <img src="cat.jpg" alt="Cat Original">
    </div>
    <hr>
    <!--<div>
        <h1>Overlay</h1>
        <img component="ImageBlend" settings="[{url:'dog.jpg'}, {url:'cat.jpg', blendType:BlendType.Overlay}]">
    </div>
    <div>
        <h1>Screen</h1>
        <img component="ImageBlend" settings="[{url:'dog.jpg'}, {url:'cat.jpg', blendType:BlendType.Screen}]">
    </div>
    <div>
        <h1>Lighten</h1>
        <img component="ImageBlend" settings="[{url:'dog.jpg'}, {url:'cat.jpg', blendType:BlendType.Lighten}]">
    </div>
    <div>
        <h1>Darken</h1>
        <img component="ImageBlend" settings="[{url:'dog.jpg'}, {url:'cat.jpg', blendType:BlendType.Darken}]">
    </div>
    <div>
        <h1>Multiply</h1>
        <img component="ImageBlend" settings="[{url:'dog.jpg'}, {url:'cat.jpg', blendType:BlendType.Multiply}]">
    </div>
    <div>
        <h1>Average</h1>
        <img component="ImageBlend" settings="[{url:'dog.jpg'}, {url:'cat.jpg', blendType:BlendType.Average}]">
    </div>
    <div>
        <h1>Add</h1>
        <img component="ImageBlend" settings="[{url:'dog.jpg'}, {url:'cat.jpg', blendType:BlendType.Add}]">
    </div>
    <div>
        <h1>Subtract</h1>
        <img component="ImageBlend" settings="[{url:'dog.jpg'}, {url:'cat.jpg', blendType:BlendType.Subtract}]">
    </div>-->
    <div>
        <h1>Difference</h1>
        <img component="ImageBlend" settings="[{url:'dog.jpg', blendType:BlendType.Difference}, {url:'cat.jpg', blendType:BlendType.Difference}]">
    </div>
    <!--<div>
        <h1>Negation</h1>
        <img component="ImageBlend" settings="[{url:'dog.jpg'}, {url:'cat.jpg', blendType:BlendType.Negation}]">
    </div>
    <div>
        <h1>Exclusion</h1>
        <img component="ImageBlend" settings="[{url:'dog.jpg'}, {url:'cat.jpg', blendType:BlendType.Exclusion}]">
    </div>
    <div>
        <h1>SoftLight</h1>
        <img component="ImageBlend" settings="[{url:'dog.jpg'}, {url:'cat.jpg', blendType:BlendType.SoftLight}]">
    </div>
    <div>
        <h1>HardLight</h1>
        <img component="ImageBlend" settings="[{url:'dog.jpg'}, {url:'cat.jpg', blendType:BlendType.HardLight}]">
    </div>
    <div>
        <h1>ColorDodge</h1>
        <img component="ImageBlend" settings="[{url:'dog.jpg'}, {url:'cat.jpg', blendType:BlendType.ColorDodge}]">
    </div>
    <div>
        <h1>ColorBurn</h1>
        <img component="ImageBlend" settings="[{url:'dog.jpg'}, {url:'cat.jpg', blendType:BlendType.ColorBurn}]">
    </div>
    <div>
        <h1>LinearDodge</h1>
        <img component="ImageBlend" settings="[{url:'dog.jpg'}, {url:'cat.jpg', blendType:BlendType.LinearDodge}]">
    </div>
    <div>
        <h1>LinearBurn</h1>
        <img component="ImageBlend" settings="[{url:'dog.jpg'}, {url:'cat.jpg', blendType:BlendType.LinearBurn}]">
    </div>
    <div>
        <h1>LinearLight</h1>
        <img component="ImageBlend" settings="[{url:'dog.jpg'}, {url:'cat.jpg', blendType:BlendType.LinearLight}]">
    </div>
    <div>
        <h1>VividLight</h1>
        <img component="ImageBlend" settings="[{url:'dog.jpg'}, {url:'cat.jpg', blendType:BlendType.VividLight}]">
    </div>
    <div>
        <h1>PinLight</h1>
        <img component="ImageBlend" settings="[{url:'dog.jpg'}, {url:'cat.jpg', blendType:BlendType.PinLight}]">
    </div>
    <div>
        <h1>HardMix</h1>
        <img component="ImageBlend" settings="[{url:'dog.jpg'}, {url:'cat.jpg', blendType:BlendType.HardMix}]">
    </div>
    <div>
        <h1>Reflect</h1>
        <img component="ImageBlend" settings="[{url:'dog.jpg'}, {url:'cat.jpg', blendType:BlendType.Reflect}]">
    </div>
    <div>
        <h1>Glow</h1>
        <img component="ImageBlend" settings="[{url:'dog.jpg'}, {url:'cat.jpg', blendType:BlendType.Glow}]">
    </div>
    <div>
        <h1>Phoenix</h1>
        <img component="ImageBlend" settings="[{url:'dog.jpg'}, {url:'cat.jpg', blendType:BlendType.Phoenix}]">
    </div>-->
</body>
</html>