extends ../../partials/head.pug
block title
    title Api &ndash; Components
block content
    .scrollspy#intro
        h2.header Components
        p.flow-text.card-panel Html components are used to attach a defined JavaScript component to the current DOM element.
    //- The component
    .scrollspy.section#component
        +def('Component', 'There are two different ways to attach a component to an element, <code>component="MyComponent"</code> and <code>data-component="MyComponent"</code>.')
        p These allow you to pass multiple components as values to the attribute in the same way that the #[code class=""] attribute works by separating each one with a space.
        pre: code.language-markup
            = '<div component="Component1 Component2"></div>\n'
            = '<div data-component="Component1 Component2"></div>\n'

block sideContent
    ul.section.table-of-contents.pinned
        li: a(href='#intro') Introduction
        li: a(href='#component') Component